<nav class="bg-gray-800 text-white p-4">
	<div class="container mx-auto flex justify-around items-center">
		<a href="/" class="text-xl font-bold">1st Task</a>
		<a href="/task2" class="text-xl font-bold">2nd Task</a>
	</div>
</nav>
