---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div style="height: 1000px;"></div>
		<h1 class="text-center mt-12 text-3xl">
			Stop Chasing Alerts and Start Preventing Threats
		</h1>
		<slot class="flex justify-center items-center min-h-screen bg-gray-50" />
		<div style="height: 1000px;"></div>
	</body>
</html>
